/* Fonts
"Montserrat", sans-serif
"Oswald", sans-serif
"Crimson Text", serif
*/

/*---- General */

@media (max-width: 900px) {
	#atom {
		grid-template-columns: repeat(2, 1fr) !important;
	}

	#simple-scenario, #provocation {
		flex: 1 1 100%;
	}
	
	.scenario-box {
		max-width: 100%;
	}
}

body {
  font-family: system-ui, sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100ch;
	margin: 2rem 3rem;
	padding: 0;
}


h1 {
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-size: 4rem;
}

h1 span {
	display: block;
	font-size: 5rem;
}

h2 {
	font-family: "Crimson Text", serif;
	font-size: 1.2rem;
	font-weight: 100;
	font-style: italic;
}

/*---- Cards */

#atom {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	gap: 1.5rem; /* spacing between A T O M cards */
	margin: 0 auto;
	padding: 1rem;
	max-width: 1rem;
}
/*
#card {
	display: flex;
	flex-direction: column;
	align-items: center;
}*/

.card-container {
	border: 1px solid #000;
	border-radius: 10px;
	padding: 1rem;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	min-height: 250px;
/*	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;*/
	font-family: "Crimson Text", sans-serif;
	font-weight: 600;
}

.letter, button {
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: 500;
	background: #fff;
	border: 1px solid #000;
	cursor: pointer;
}

.letter, #help-btn {
	padding: 0;
	width: 40px;
	height: 40px;
	border-radius: 100%;	
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1rem;
	padding-top: 0;
	width: 150px;
	height: 175px;
	color: #000;
	text-align: center;
	font-size: 1.5rem;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
}

button.letter:hover {
	border-top: 2px solid #000;
	border-left: 2px solid #000;
	background: #fff;
}

button:active {
	background: #000 !important;
	color: #fff;
}

#scenarios {
	font-family: "Crimson Text", serif;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 2rem;
	padding: 1rem;
	max-width: 1000px;
	flex-wrap: wrap; /* ensure mobile friendliness */
	margin-top: 2rem auto 0 auto;
}

#simple-scenario, #provocation {
	display: flex;
	width: 42%;
	flex-direction: column;
	align-items: center;
	flex: 1 1 400px; /* grow and shrink to min 400 */
	max-width: 100%;
	border: 1px solid #ccc;
	box-shadow: 2px 4px 0 rgba(0, 0, 0, 0.1);
	padding: 1.5rem;
}

.generation {
	font-style: italic;
	font-size: 1.2rem;
	line-height: 25pt;
	font-weight: 400;
}

.scenario-box {
	font-size: 1.1rem;
	white-space: normal;
	text-align: left;
	width: 100%;
	max-width: 500px;
}

.scenario-box h2 {
	font-style: italic;
	font-weight: 600;
	font-size: 1.5rem;
}

.scenario-box p {
	font-style: normal;
}

.card a {
	text-decoration: underline;
	color: #000;
}

.card a:hover {
	text-decoration: none;
}

button {
	padding: 0.5rem;
	border-radius: 6px;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
}

button:hover {
	background: #efefef;
}

button:disabled, button:disabled:hover {
	pointer-events: none;
	background: none;
	border-color: #ccc;
}

.disclaimer {
	width: 100%;
	font-size: 1.2rem;
	justify-content: center;
	font-style: italic;
}

/* Modal Styles */

#help-btn {
	position: fixed;
	top: 1rem;
	right: 1rem;
}

#help-modal h2 {
	font-size: 2rem;
	font-family: "Oswald", sans-serif;
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
}

#help-modal {
	font-size: 1.2rem;
}

#help-modal ul {
	list-style: none;
}

#help-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#help-modal.hidden {
  display: none;
}

#help-modal .modal-content {
  background: white;
  max-width: 50%;
  width: 90%;
  position: relative;
}

.hidden {
  display: none !important;
}

.modal-content {
  background: white;
  padding: 2rem;
  max-width: 500px;
  width: 90%;
  position: relative;
  z-index: 10000;
}

.close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

#scenarios button {
	margin-bottom: 1rem;
}