body {
  font-family: system-ui, sans-serif;
  max-width: 700px;
  margin: 3em auto;
  padding: 1em;
  line-height: 160%;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.3em;
}

h3 {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0 0.5rem;
  padding: 0;
}

ul li {
  display: block;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem -0.5rem;
}

ul li:hover {
  border-color: #999;
}

ul li p {
  padding: 0;
  margin: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  border-top: 1px solid #ddd;
  margin-top: 1.5rem;
  color: #999;
  text-align: left;
}


.footer-right a {
	font-size: 1.4rem;
	color: #333;
	text-decoration: none;
}
.footer-right a:hover {
	color: #007acc;
}